@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
p, h3, a {
    color: #0f0e16;
    font-family: Roboto mono;
}
a {
    padding-bottom: 10px;
}
.portfolio__item {
    background: #c7c4d9;
    padding: 1.3rem;
    border-radius: 1rem;
    border: 2px solid black;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: #123c69;
    background: transparent;
}

.portfolio__item-image {
    overflow: hidden;
    border: 2px solid black;
    border-radius: 1rem;
}

.portfolio__item h3 {
    margin: 2rem 0;
}

.portfolio__item p {
    margin: 0 0 1.2rem 0;
    font-size: 0.9rem;
}

.portfolio__item-cta {
    gap: 1rem;
    margin-bottom: 2rem; 
}

.portfolio__item-content {
    height: 40%;
}

@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}